h1 {
    line-height: 1.6;
    font-size: 45px;
    color:rgb(255, 175, 37);
}

p  {
    line-height: 1.6;
    font-size: 27px;
    color:rgb(115, 240, 104)
}

h2 {
    line-height: 1.6;
    font-size: 35px;
    color:rgb(243, 134, 83)
}
.row {
    line-height: 1.6;
    display: flex;
    align-items: center;
}

th {
  line-height: 1.6;
  font-size: 45px;
}

li {
  line-height: 1.6;
  font-size: 27px;
}

h3 {
    line-height: 1.6;
    font-size: 32px;
    color:rgb(250, 245, 85)
}